*, body {
  margin: 0;
  padding: 0;
  box-sizing: unset;
}
.App_Container{
  position: fixed;
  width: 100vw;
  height: 100vh;

}
.App_Header {
  height: 10vh;
  line-height: 10vh;
  background-color: black;
  color:white;
  font-size: 1rem;
  text-align: center;
  font-weight:900;
  font-family: 'Roboto' ;
  margin-bottom: 15px;
}
.App_Main {
  border-bottom: 1px solid black;
  width: 100vw;
  height: 82vh;
  overflow: scroll;
  text-align: center;
}